@media screen and (max-width: 1280px) { 
  .container {
    font-size: 10px;
  }
  
  .container .title {
    font-size: 35px;
  }
  
  .container .nickname {
    font-size: 50px;
    letter-spacing: 10px;
  }
  
  .container .skills span {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    font-size: 10px;
  }
  
  .container .title {
    font-size: 25px;
  }
  
  .container .nickname {
    font-size: 30px;
    letter-spacing: 5px;
  }
  
  .container .skills span {
    font-size: 20px;
  }
}

body {
  background-color: #000;
  padding: 10%;
}

.container {
  width: auto;
  text-align: center;
  color: #ffffff;
  margin: 20px;
  font-family: Monospace;
}

.container * {
  display: block;
  margin: 5%;
}

.container .avatar {
  clip-path: circle();
  width: 100px;
  margin: auto;
}

.container .avatar:hover {
  filter: invert(100%);
}

.container .links a {
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.container .links a img {
  display: inline-block;
  height: 50px;
  border-width: 10px;
  border-radius: 10px;
  background-color: #000;
  padding: 5px;
}

.container .links a:hover {
  filter: invert(100%);
 
}

.container hr {
  width: 60%;
  display: inline-block;
  margin: 0;
}

.container .skills span {
  display: inline;
  padding: 2px;
  margin: auto;
}

.container .skills {
  margin-top: 15%;
  margin-bottom: 15%;
}

.container .void {
  margin: 10%;
  border-width: 0;
}

.withShadow:hover {
  text-shadow: 1px 1px 3px #ff00ff;
  transition-duration: 0.2s;
}

.project {
  display: block;
  border: none;
  border-radius: 15px;
  width: 90%;
  height: 20px;
  margin: 5px auto 5px auto;
  font-size: 4.5mm;
  background: linear-gradient(to right, brown 5%, #ffffff 5%);
  transition: 0.2s;
  text-decoration: none;
  color: #000;
  font-family: Fatnasy;
  vertical-align: middle;
  padding: 20px;
  overflow: inherit;
}

.projects hr {
  width: 80%;
}
