body {
  background-color: #000000;
  padding: 10%;
}

.container {
  width: auto;
  text-align: center;
  color: #ffffff;
  margin: 20px;
  font-family: Monospace;
}

.container * {
  display: block;
  margin: 5%;
}

.container .avatar {
  clip-path: circle();
  width: 20%;
  margin: auto;
}

.container .avatar:hover {
  filter: invert(100%);
}

.container .nickname {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 100;
}

.container .title {
  font-size: 35px;
  letter-spacing: 10px;
  font-weight: 100;
}

.container .description {
  font-size: 35px;
  font-weight: 100;
}

.container .links a {
  display: inline-block;
  margin: 10px;
}

.container .links a img {
  display: inline-block;
  height: 50px;
  border-width: 5px;
  border-radius: 5px;
  background-color: #000;
  padding: 5px;
}

.container .links a:hover {
  filter: invert(100%);
}

.container hr {
  width: 60%;
  display: inline-block;
  margin: 0;
}

.container .skills span {
  font-size: 30px;
  display: inline;
  padding: 2px;
  margin: auto;
}

.container .skills {
  margin-top: 15%;
  margin-bottom: 15%;
}

.container .void {
  margin: 10%;
  border-width: 0;
}

.withShadow:hover {
  text-shadow: 1px 1px 3px #ff00ff;
  transition-duration: 0.2s;
}
